<tr>
	<td><%= form.teamname %></td>
	<td><%= form.firstname %></td>
	<td><%= form.lastname %></td>
	<td><%= form.street + " " + form.number.to_s %></td>
	<td><%= form.zipcode + " " + form.town %></td>
	<td><%= form.email %></td>
	<td><%= form.members %></td>
	<td><%= form.paid %></td>
</tr>