<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-pencil"></span> Anmeldung</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Anmeldung</b></h3>
				</div>
				<div class="panel-body">
					<%if flash.now[:notice] %>
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    	  				<%= flash.now[:notice] %>
    	  				</div>
    				<% end -%>

					<%if flash.now[:error] %>
						<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    	  				<%= flash.now[:error] %>
    	  				</div>
    				<% end -%>

					<p>Die Registrierung erfolgt über das folgende Formular. Am Tag der Veranstaltung muss die Teilnahmegebühr (pro Fahrer 10€, Einnahmen aus der Veranstaltung kommen den Förderverein Besucherbergwerk e.V. zugute) vor dem Start am Bergwerk entrichtet werden. Anmeldungen ohne vorherige Registrierung sind bis zum Start möglich, das Teilnehmerfeld ist jedoch beschränkt und es besteht dann kein Anspruch auf Teilnahme und das Souvenir.</p>
					<p>Die Startplätze sind begrenzt.</p>
					<%= form_for @registration, :html => {:class=>"form-horizontal", :role=>"form"} do |f| %>
						
						<!--%= f.error_messages %-->
						<div class="form-group has-feedback <%= raw formfield_error_class(@registration, :firstname) %>">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Vorname:</label>
					    	<div class="col-sm-7">
					      		<%= f.text_field :firstname, :required=> true, :class=>"form-control"%>
					      		<%= raw formfield_class_and_symbol(@registration, :firstname) %>
					    	</div>
				  		</div>
						<div class="form-group has-feedback <%= raw formfield_error_class(@registration, :lastname) %>">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Nachname:</label>
					    	<div class="col-sm-7">
					      		<%= f.text_field :lastname, :required=> true, :class=>"form-control" %>
					      		<%= raw formfield_class_and_symbol(@registration, :lastname) %>
					    	</div>
				  		</div>				  		
				  		<div class="form-group has-feedback <%= raw formfield_error_class(@registration, :street) %>">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Strasse / Hausnummer:</label>
					    	<div class="col-sm-5">
					      		<%= f.text_field  :street, :required=> true, :class=>"form-control" %>
					      		<%= raw formfield_class_and_symbol(@registration, :street) %>
					    	</div>					    	
					    	<div class="col-sm-2">
					      		<%= f.text_field  :number, :required=> true, :type=>'number', :class=>"form-control" %>
					      		<%= raw formfield_class_and_symbol(@registration, :number) %>
					    	</div>
				  		</div>
						<div class="form-group has-feedback <%= raw formfield_error_class(@registration, :zipcode) %>">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Postleitzahl / Ort:</label>
					    	<div class="col-sm-3">
					      		<%= f.text_field :zipcode, :required=> true, :type => 'number', :class=>"form-control" %>
					      		<%= raw formfield_class_and_symbol(@registration, :zipcode) %>
					      	</div>
					    	<div class="col-sm-4">
					      		<%= f.text_field :town, :required=> true, :class=>"form-control" %>
					      		<%= raw formfield_class_and_symbol(@registration, :town) %>
					    	</div>
				  		</div>
				  		<div class="form-group has-feedback <%= raw formfield_error_class(@registration, :email) %>">
					    	<label for="inputEmail3" class="col-sm-2 control-label">EMail-Adresse:</label>
					    	<div class="col-sm-7">
					      		<%= f.email_field  :email, :required=> true, :type=>"email", :class=>"form-control" %>
					      		<%= raw formfield_class_and_symbol(@registration, :email) %>
					    	</div>
				  		</div>
				  		<div class="form-group has-feedback <%= raw formfield_error_class(@registration, :teamname) %>">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Name des Teams:</label>
					    	<div class="col-sm-7">
					      		<%= f.text_field  :teamname, :required=> true, :class=>"form-control" %>
					      		<%= raw formfield_class_and_symbol(@registration, :teamname) %>
					    	</div>
				  		</div>
				  		<div class="form-group has-feedback <%= raw formfield_error_class(@registration, :members) %>">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Namen der Teammitglieder:</label>
					    	<div class="col-sm-7">
					      		<%= f.text_area :members, :required=> true, :class=>"form-control", :rows=>"3", :placeholder=>"z.B. Karl,Otto,Heinz" %>
					      		<%= raw formfield_class_and_symbol(@registration, :members) %>
					    	</div>
				  		</div>
				  		<div class="form-group has-feedback%>">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Datenschutz-erklärung:</label>
					    	<div class="col-sm-7">
					      		<%= check_box_tag(:confirm, "confirm", false, {onclick: "switch_confirm();", id: "confirm"})%>
					      		Es werden nur die absolut notwendigen Daten verlangt. Wir sammeln keine Daten und reichen diese auch nicht weiter. Die Daten werden elektronisch gespeichert und ausschließlich für Info-Mails, Ergebnislisten und Urkunden verwendet. Mit der Anmeldung bestätigen Sie, dass Sie mit dieser Verwendung Ihrer Daten einverstanden sind.
					    	</div>
				  		</div>
					  	<div class="form-group">
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<%= f.submit "Anmelden", {class: "btn btn-primary", disabled: "disabled", id: :commit} %>
					    	</div>
					  	</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<%= link_to image_tag("mtb1_thumb.jpg", :class=>"img-responsive"), image_url("mtb1.jpg"), :class=>"fancybox thumbnail" %>
		</div>			
	</div>
</div>

<script>
  	enable_top_menu('anmeldung');

  	jQuery.fn.extend({
	    disable: function(state) {
	        return this.each(function() {
	            this.disabled = state;
	        });
	    }
	});

  	function switch_confirm() {
  		//alert("switch");
  		if ($('#confirm')[0].checked == true) {
  			$('#commit').disable(false);
  		} else {
  			$('#commit').disable(true);
  		}
  	}
</script>