<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><!--%= image_tag "logo_biker_pin1.png" %--><!--span class="glyphicon glyphicon-tree-conifer"></span--> 1. MTB <%= image_tag "logo_biker_pin3.png", style: "vertical-align: top"-%>chnitzeljagd</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<!--div class="page-header">
				<h1>Willkommen zur 1. MTB-Schnitzeljagd! <small>6.9.2015</small></h1>
			</div-->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Was? Wann? Wo? Wer?</h3>
				</div>
				<div class="panel-body">
					<p>Bei der MTB-Schnitzeljagd müssen 6 Stationen rund um das Besucherbergwerk mit Hilfe von GPS-Koordinaten in zufälliger Reihenfolge gefunden und dort Aufgaben gelöst werden. Start ist am <b>06.09.2015</b> um <b>10:00</b> Uhr am <b>Besucherbergwerk Fell</b>. Mitmachen kann <b>jeder</b>, der ein Fahrrad hat und damit um die <b>40km</b> und <b>1000 Höhenmeter</b> bewältigen kann. Gewonnen hat, wer alle Aufgaben in der kürzesten Zeit lösen konnte.</p>
				</div>
			</div>			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Was ist eine MTB-Schnitzeljagd?</h3>
				</div>
				<div class="panel-body">
					<p>Bei der MTB-Schnitzeljagd müssen Stationen mit dem Mountainbike anhand von vorgegebenen GPS-Koordinaten und Ortsbeschreibungen gefunden werden - dort werden dann kleine Aufgaben gelöst oder Fragen beantwortet. Die Reihenfolge der Stationen wird dabei ausgelost - jedes Team/jeder Fahrer muss jedoch die gleichen Stationen anfahren und die gleichen Aufgaben bewältigen. Eine neue Aufgabe kann erst gestartet (sprich zugelost) werden, wenn die vorherige abgeschlossen wurde, d.h. die Lösung bei der Rennleitung vorliegt. Die Stationen werden also nacheinander angefahren und eine Rückkehr zum Zielbereich ist nach jeder Aufgabe notwendig, um die Nächste zu erhalten. Die Teams/Fahrer treten dabei gegeneinander an, das Team/der Fahrer mit der geringsten Gesamtzeit gewinnt.</p>

					<p>Die Wegeplanung zum Erreichen der Wegepunkte wird den teilnehmenden Teams bzw. Einzelfahrern überlassen, d.h. jedes Team/jeder Fahrer muss sich eine eigene Strecke pber die vorgegebenen GPS-Koordinaten suchen.</p>

					<p>An jeder Station erhält das Team/der Fahrer eine Aufgabe: das kann ein Rätsel sein, eine Geschicklichkeitsprüfung oder ein Mitbringsel. Nachdem die Aufgabe gelöst wurde, erfolgt die Rückkehr zum Bergwerk, dort wird per Los die nächste Aufgabe ermittelt. Für Teams ist es somit möglich, die Aufgaben zu teilen - so können Fahrer auch Aufgaben aussetzen und bei einer der nächsten Aufgaben wieder einsteigen. Oder jeder Fahrer fährt nur eine Aufgabe... Einzelfahrer haben diese Luxus natürlich nicht.</p>

					<p>Wer mit allen sechs notwendigen Steinen, Antworten, Stempeln etc. wieder am Startpunkt, also dem Bergwerk, erscheint, gewinnt das goldene Schieferherz!</p>

					<p>Eine Zeitnahme erfolgt nur innerhalb der begonnenen Aufgabe. Es kann also am Bergwerk pausiert werden, ohne das diese Zeit angerechnet wird. Die Uhr pro Team/Fahrer läuft ab Auslosung der Station bis zum Eintreffen mit der Lösung der gestellten Aufgabe. Alle 6 Aufgaben müssen vor Zielschluß beendet sein.</p>
					<p>Teams/Fahrer mit der kürzesten Zeit pro Aufgabe erhalten ebenfalls einen Preis.</p>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Wer kann teilnehmen?</h3>
				</div>
				<div class="panel-body">
					<p>Teilnehmen dürfen Einzelfahrer und Teams bis 4 Mitgliedern. Pro Team muss mindestens ein Erwachsener mitfahren, Einzelfahrer müssen volljährig sein.</p>
					<p>Da die Zielstationen teilweise im Wald bzw. den Feldern rund um Fell liegen, ist ein Mountainbike sinnvoll.</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Welche Strecke wird gefahren?</h3>
				</div>
				<div class="panel-body">
					<p>Das muss jedes Team/jeder Fahrer selbst entscheiden! Die Reihenfolge der Stationen wird ausgelost und die gewählte Strecke muss von den Fahrern bestimmt werden. Daher gibt es auch keine abgesperrte Strecke oder Karten mit festgelegter Wegewahl.</p>
					<p>Die Steckenlänge wird (je nach Wegewahl) um die 40km mit ca. 1000 Höhenmetern betragen.</p>	
					<p>Wer seine Strecke per GPS aufzeichnet und nach der Veranstaltung einsendet, nimmt an der Wahl zum besten Trail-Finder teil!</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Wie finde ich die Stationen?</h3>
				</div>
				<div class="panel-body">
					<p>Die einzelnen Stationen werden als GPS-Koordinaten bekannt gegeben. Sie liegen an markanten Punkten (Sehenswürdigkeiten, Brunnen, Felsen etc.) und werden zusätzlich kurz beschrieben. Es ist daher sinnvoll, sich eigenes Kartenmaterial mitzubringen. Das können Faltkarten, Pläne, GPS-Geräte oder GPS-fähige Handys sein.</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Was erwartet mich an den Stationen?</h3>
				</div>
				<div class="panel-body">
					<p>An den Stationen erwarten euch verschiedene Aufgaben, die gelöst werden müssen. Das können Fragen sein, deren Antworten auf dem Mannschaftsbogen vermerkt werden müssen oder kleine sportliche Herausforderungen, die es zu meistern gilt. An jeder Station wird muss so nachgewiesen werden, das das Team/der Fahrer sich dort den Herauforderungen gestellt hat und die Aufgaben gemeistert wurden!</p>
					<p>Die Stationen werden dabei durchaus interessante Einblicke in den historischen Bergbau rund und Fell und Thomm bieten.</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Wer gewinnt?</h3>
				</div>
				<div class="panel-body">
					<p>Die Schnitzeljagd ist kein Wettbewerb, kein Wettkampf und auch kein Rennen! Der Spaß am Radfahren, der Natur und dem Miteinander stehen im Vordergrund,, zusätzlich wird nebenbei Wissen über den Schieferbergbau erfahren. Daher gibt es weder Preisgelder noch Pokale zu gewinnen (nein, keine T-Shirts). Jeder Fahrer erhält ein Souvenir.</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Regeln</h3>
				</div>
				<div class="panel-body">
					<p>Der Start erfolgt als sogenannter "Le-Mans-Start", d. h. die Fahrräder werden vor dem Start im Startbereich abgelegt/abgestellt, nach dem Startschuss sprinten die Fahrer zu ihren Rädern, um aufzusitzen und loszufahren. Die Räder werden in der Reihenfolge abgelegt/-gestellt, in der die Teilnehmer zum Start erscheinen bzw. sich einschreiben.</p>
					<p>Für alle Teilnehmer besteht Helmpflicht, es gelten die Regeln der StVO - die Teilnehmer verpflichten sich, diese einzuhalten. Außerdem legen wir Wert auf die <a href="http://www.dimb.de/aktivitaeten/open-trails/trail-rules" target="_blank"><u>DIMB-Trailrules</u></a>.</p>
					<p>Einnahmen aus der Veranstaltung kommen dem Förderverein Besucherbergwerk e.V. zugute.</p>
				</div>
			</div>			
		</div>
		<div class="col-md-3">	
			<%= link_to image_tag("mtb1_thumb.jpg", :class=>"img-responsive"), image_url("mtb1.jpg"), :class=>"fancybox thumbnail" %>	
			<%= link_to image_tag("DSC_0070_small.jpg", :class=>"img-responsive"), image_url("DSC_0070_large.jpg"), :class=>"fancybox thumbnail" %>
			<%= link_to image_tag("DSC_0009_small.jpg", :class=>"img-responsive"), image_url("DSC_0009_large.jpg"), :class=>"fancybox thumbnail" %>
			<%= link_to image_tag("DSC_0055_small.jpg", :class=>"img-responsive"), image_url("DSC_0055_large.jpg"), :class=>"fancybox thumbnail" %>
		</div>	
	</div>
</div>

<script>
  enable_top_menu('index');
</script>