<!doctype html>
<html>
  <head>
    <meta charset="utf-8">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>MTB-Schnitzeljagd 2015</title>
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <header class="navbar navbar-fixed-top navbar-default " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="#"Schnitzeljagd '15</a-->
          <a class="navbar-brand" href="#"><%= image_tag "logo_biker_bergwerk_small.jpg", :class=>"img-responsive"%></a>
        </div>

        <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="index"><%= link_to "Event", pages_index_path %></li>
            <li id="strecke"><%= link_to "Strecke", pages_strecke_path %></li>
            <li id="ablauf"><%= link_to "Ablauf", pages_ablauf_path %>
            <li id="anmeldung"><%= link_to "Anmeldung", new_registration_path %></li>
            <li id="anfahrt"><%= link_to "Anfahrt", pages_anfahrt_path %></li>            
            <li id="kontakt"><%= link_to "Kontakt", new_contact_path %></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li id="Teams"><%= link_to "Teams", registrations_path %></li>
              <li id="Anfragen"><%= link_to "Anfragen", contacts_path %></li>
            <% end %>
            <li id="impressum"><%= link_to "Impressum", pages_impressum_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <!--header class="jumbotron subhead">
      <div class="container">
        <img src="/images/wappen_small.jpg">
      </div>
    </header-->

    <%= yield %>

    <footer class="bs-docs-footer" role="contentinfo">
      <p>Schnitzeljagd 2015</p>
      <p>
        <a href = "/kontakt.html"><i class="icon-user"></i> Kontakt<span class="divider"> | </span>
        <a href = "/impressum.html"><i class="icon-comment"></i> Impressum<span class="divider"> | </span>
        <%= link_to "Login", new_user_session_path %><span class="divider"> | </span>
        <a href="mailto:schnitzeljagd@bergwerk-fell.de"><i class="icon-envelope"></i> schnitzeljagd@bergwerk-fell.de</a><span class="divider">
      </p>
    </footer>
  </body>

  <a href="#" class="scrollup">Scroll</a>
  <script type="text/javascript">
    $(document).ready(function(){ 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        }); 
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
    $(".fancybox").fancybox();    
  </script>
</html>