<!doctype html>
<html>
  <head>
    <meta charset="utf-8">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="keywords" content="MTB, Moutain Bike, Mountainbike, Rennen, Marathon, Enduro, Eifel, Mosel, Schnitzeljagd, GPS, Bergwerk, Grube, Halde, Stollen">
    <title>MTB-Schnitzeljagd 2015</title>
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    <!--link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" /-->
    <!--%= favicon_link_tag %-->


    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57177078-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <header class="navbar navbar-fixed-top navbar-default " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="#"Schnitzeljagd '15</a-->
          <!--<a class="navbar-brand" href="/"><%= image_tag "logo_biker_bergwerk_small.jpg", :class=>"img-responsive"%></a>-->
        </div>

        <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="index"><%= link_to "Event", pages_index_path %></li>
            <li id="strecke"><%= link_to "Strecke", pages_strecke_path %></li>
            <li id="ablauf"><%= link_to "Ablauf", pages_ablauf_path %>
            <li id="anmeldung"><%= link_to "Anmeldung", new_registration_path %></li>
            <li id="meldeliste"><%= link_to "Meldeliste", registrations_path %></li>
            <li id="anfahrt"><%= link_to "Anfahrt", pages_anfahrt_path %></li>            
            <li id="kontakt"><%= link_to "Kontakt", new_contact_path %></li>
            <% if user_signed_in? %>
              <li id="anfragen"><%= link_to "Anfragen", contacts_path %></li>
            <% end %>
            <li id="impressum"><%= link_to "Impressum", pages_impressum_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="/"><%= image_tag "logo_biker_bergwerk_small.jpg", :class=>"img-responsive"%></a>
            <li id="fb"><%= link_to image_tag("fb.png"), "https://www.facebook.com/events/320881614773774/", target: "_blank" %></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="bs-docs-footer" role="contentinfo">
      <p>Schnitzeljagd 2015</p>
      <p>
        <a href = "/kontakt.html"><span class="glyphicon glyphicon-comment"></span> Kontakt</a><span class="divider"> | </span>
        <a href = "/impressum.html"><span class="glyphicon glyphicon-link"></span> Impressum</a><span class="divider"> | </span>
        <% unless user_signed_in? %>
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-user"></span> Login
          <% end %>
        <% else %>
          <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-user"></span> Logout
            <% end %>
        <% end %>
        <span class="divider"> | </span>
        <a href="mailto:info@mtb-schnitzeljagd.de"><span class="glyphicon glyphicon-envelope"></span> info@mtb-schnitzeljagd.de</a>
      </p>
    </footer>
  </body>

  <a href="#" class="scrollup">Scroll</a>
  <script type="text/javascript">
    $(document).ready(function(){ 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        }); 
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
    $(".fancybox").fancybox();    
  </script>
</html>